a {
    text-decoration: none; /*убрать подчеркивание ссылок*/
}

.menu_link {
    color: darkorange;
    font-size: 20px;
    line-height: 20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: wider;
    font-weight: 700;
}


h1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: wider;
    color: mediumorchid;
    font-weight: 700;

}


h2  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 20, 121);
}

h3 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: maroon;
}

.h1_style {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: wider;
    color: maroon;
    font-size: 34px;
    text-transform: inherit;
}

p {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkmagenta;
    line-height: 25px;

}

.good_description {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: indigo;
    line-height: 17px;
    
}

.good_name {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
    font-stretch: wider;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;

}


